@charset "utf-8";
body {
  background-image: url("bucket-list.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}

textarea {
  resize: none;
}

form {
  margin-left: 200px;
  margin-top: 120px;
  width: 50%;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-size: 20px;
  color: blue;
  margin-top: -6px;
}

div.mainDiv {
  float: right;
}

#errorMessage {
  color: red;
}

#showMessage {
  color: blue;
}

#successMessage,
#clearMessage {
  color: green;
}
