@charset "utf-8";
* {
    box-sizing: border-box;
}

body {

    margin: 0;
    padding: 0;
    background-image:url("bucket-list.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;   
}
#myForm {
    margin-left:220px;
    margin-top: 120px;
       
}

input,textarea {
  background-color:lavender;
     
}

label {
    font-weight: bold;
}
input[type="submit"]{
   color: blue;
   font-size: 12px;
   font-weight: bold;
}